@font-face {
    font-family: 'TheSans';
    font-weight: 200;
    font-display: swap;
    src: url(../fonts/TheSansB_200_.ttf) format('truetype');
}

@font-face {
    font-family: 'TheSans';
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/TheSansB_300_.ttf) format('truetype');
}
  
@font-face {
    font-family: 'TheSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/TheSansB_400_.ttf) format('truetype');
}

@font-face {
    font-family: 'TheSans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/TheSansB_500_.ttf) format('truetype');
}

@font-face {
    font-family: 'TheSans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/TheSansB_600_.ttf) format('truetype');
}

@font-face {
    font-family: 'TheSans';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/TheSansB_700_.ttf) format('truetype');
}

@font-face {
    font-family: 'TheSans';
    font-style: bold;
    font-weight: 800;
    font-display: swap;
    src: url(../fonts/TheSansB_800_.ttf) format('truetype');
}

@font-face {
    font-family: 'TheSans';
    font-style: bolder;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/TheSansB_900_.ttf) format('truetype');
}