@import url(fonts.css);
@import url(animate.min.css);
/* colors */
/* Navigation Menu */
.container {
  width: 1336px !important;
}

body {
  font-family: 'TheSans';
}

.img-responsive {
  width: 100%;
}

.btn.btn-custom1 {
  min-width: 160px;
  min-height: 48px;
  border-radius: 5px;
  background-color: #cfd5d9;
  padding: 12px 12px 10px 12px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.1px;
  text-align: center;
  color: #333333;
  display: inline-block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn.btn-custom1:hover, .btn.btn-custom1:focus {
  border-color: transparent;
  background-color: white;
}

/*

.nav{
    position: fixed; width: 100%; top:0;
    .logo {
        .logo_icon { height: 40px; }
        .logo_img{ width: 70px; }
        .logo-lifeform {background-image: none;background-size: 40px; }
        .logo-type{ display: flex;align-items: center;padding: 0 0 0 8px; }
    }
    .nav__level1 {
        .nav__mainnav
        {
            .nav__primary .nav-item { 
                padding-right: 70px; margin: 0;
                .nav-link{ color:$nav-color; }
                .nav-link{ 
                    &:hover{  
                        color: $blue-color;
                        .text-underline::before{ background-color:$blue-color; top:31px;}
                        
                    }
                 }
                .nav-link--active{ 
                    color: $blue-color;
                    .text-underline::before{ background-color:$blue-color; top:31px;}
                 }
             }

        }
    } 
}

*/
/* Navigation Responsive */
.header-div {
  padding: 0;
  margin: 0;
  /* start top header */
  /* End of start top header */
  /* main nav */
  /* End of main nav */
}

.header-div .nav .nav__level0 > .nav__mainnav {
  height: auto;
  padding: 10px 10px 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-div .nav .nav__level0 > .nav__mainnav .nav__secondary {
  padding-top: 0px;
}

.header-div .nav .nav__level0 > .nav__mainnav .nav__secondary .nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #333333;
}

.header-div .nav .nav__level0 > .nav__mainnav .nav__secondary .nav-link:hover, .header-div .nav .nav__level0 > .nav__mainnav .nav__secondary .nav-link:focus {
  color: #666666;
}

.header-div .nav .nav__level0 > .nav__mainnav .nav__secondary .nav-item {
  margin-left: 60px;
}

.header-div .nav .nav__level1 .nav__mainnav .nav__level0-mobile .nav__secondary .nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #333333;
}

.header-div .nav .nav__level1 .nav__mainnav .nav__level0-mobile .nav__secondary .nav-link:hover, .header-div .nav .nav__level1 .nav__mainnav .nav__level0-mobile .nav__secondary .nav-link:focus {
  color: #666666;
}

.header-div .nav .nav__level1 .nav-section {
  margin: 0px 0 0px 0;
}

.header-div .search__input .search__input-wrapper {
  width: 100%;
  height: 92px;
}

.header-div .search--desktop .search__input.is-open {
  max-height: 92px;
}

.header-div .main-navigation {
  height: auto;
}

.header-div .main-navigation .headernav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-div .main-navigation .headernav-menu .logo-div {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 92px;
  padding: 18px 10px 18px 0;
  margin: 0;
}

.header-div .main-navigation .headernav-menu .logo-div a.logo {
  padding: 0;
  margin: 0;
}

.header-div .main-navigation .headernav-menu .logo-div a.logo span.logo-type {
  height: auto;
  padding: 0;
  margin: 0;
  top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-div .main-navigation .headernav-menu .logo-div a.logo img.logo-img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.header-div .main-navigation .headernav-menu .nav__mainnav {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 92px;
  padding: 18px 0px 18px 10px;
  margin: 0;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav {
  top: 62px;
  min-width: 215px;
  margin: 0;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-col {
  padding: 0;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items {
  margin-top: 0px;
  margin: 10px 0 10px 0;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item {
  padding: 0px 0px 0px 0px;
  margin: 0;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item .nav-link {
  padding: 8px 15px 8px 15px;
  margin: 0;
  font-size: 21px;
  line-height: 28px;
  width: 100%;
  display: block;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item .nav-link:hover, .header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item .nav-link:focus {
  background-color: #fff;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item .nav-link:hover .nav-link, .header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item .nav-link:focus .nav-link {
  color: #1781E3;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary {
  padding-top: 0;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link {
  line-height: 32px;
  letter-spacing: 0;
  text-decoration: none;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 400;
  color: #001155;
  white-space: normal;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link:hover, .header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link:focus {
  color: #1781E3;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link.nav-link--active {
  color: #1781E3;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link.nav-link--active .text-underline::before {
  background-color: #1781E3;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link.nav-link--header.is-active {
  color: #1781E3;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link.nav-link--header.is-active .text-underline::before {
  background-color: #1781E3;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-item {
  margin-right: 0px;
  margin-left: 40px;
  position: relative;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__secondary {
  padding-top: 0;
  padding: 0 0 0 90px;
}

.header-div .main-navigation .headernav-menu .nav__mainnav .nav__secondary .nav-icon.nav-search .icon--flip-horizontal {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.main-middle-area {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-section {
  padding: 0;
  margin: 30px 0 0 0;
  position: relative;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0;
}

.banner-section .banner-div .banner-root {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.banner-section .banner-div .banner-root .img-thumb .banner-img {
  width: 100%;
  min-height: 420px;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}

.banner-section .banner-div .banner-root .banner-content {
  position: relative;
  top: 0;
  z-index: 3;
  width: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  opacity: 0.9;
  background-color: #5944c6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 420px;
  margin-left: 275px;
}

.banner-section .banner-div .banner-root .banner-content .banner-content-inner {
  padding: 40px 40px;
  margin: 0;
}

.banner-section .banner-div .banner-root .banner-content .banner-content-inner .icons-div {
  padding: 0;
  margin: 0 0 15px 0;
}

.banner-section .banner-div .banner-root .banner-content .banner-content-inner .icons-div img.img-icon {
  width: 42px;
}

.banner-section .banner-div .banner-root .banner-content .banner-content-inner h2 {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 52px;
  letter-spacing: -1.2px;
  color: white;
}

.banner-section .banner-div .banner-root .banner-content .banner-content-inner h3 {
  padding: 0;
  margin: 0 0 25px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: -1.2px;
  color: white;
}

.banner-section .banner-div .banner-root .banner-content .banner-content-inner .button-row {
  padding: 0;
  margin: 0 0 0px 0;
}

.modern-workplace-section {
  padding: 0;
  margin: 0px 0 0 0;
  position: relative;
}

.modern-workplace-section .modern-workplace-div {
  padding: 0;
  margin: 0;
}

.modern-workplace-section .modern-workplace-div .modern-workplace-content {
  padding: 40px 0;
  margin: 0;
}

.modern-workplace-section .modern-workplace-div .modern-workplace-content h1 {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: -1.75px;
  color: #001155;
  line-height: 80px;
  text-align: center;
}

.modern-workplace-section .modern-workplace-div .modern-workplace-content h3 {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #1781E3;
  line-height: 40px;
}

/* home page */
@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 767px) {
  .major-wrapper {
    overflow-y: hidden;
  }
  .container {
    width: auto !important;
    margin-left: calc(12px - 4px);
    margin-right: calc(12px - 4px);
    padding-left: 4px;
    padding-right: 4px;
  }
  .header-div .main-navigation .container {
    width: auto !important;
    margin-left: calc(12px - 4px);
    margin-right: calc(12px - 4px);
    padding-left: 4px;
    padding-right: 4px;
  }
  .header-div .main-navigation .headernav-menu .logo-div {
    width: 70%;
  }
  .header-div .main-navigation .headernav-menu .logo-div a.logo img.logo-img {
    height: 40px;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav {
    width: 30%;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary {
    top: 92px;
    left: -8px;
    width: calc( 100% + 16px);
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-item {
    margin-left: 0;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link {
    height: auto;
    padding: 10px 12px;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item {
    padding: 0px 0px 0px 0px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item .nav-link {
    border: none;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__secondary {
    padding-top: 0;
    padding: 0px 0 0 0px;
  }
  .main_div {
    margin: 80px 0 0 0;
  }
  /* end of inner html */
  .btn.btn-custom1 {
    min-width: 140px;
    min-height: 40px;
    padding: 9px 12px 6px 12px;
    font-size: 16px;
  }
  .banner-section .banner-div .banner-root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-section .banner-div .banner-root .img-thumb .banner-img {
    position: relative;
    min-height: auto;
  }
  .banner-section .banner-div .banner-root .banner-content {
    position: relative;
    top: auto;
    height: 100%;
    min-height: 100%;
    margin-left: 0;
    width: 100%;
  }
  .banner-section .banner-div .banner-root .banner-content .banner-content-inner {
    padding: 30px 20px;
  }
  .banner-section .banner-div .banner-root .banner-content .banner-content-inner h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .banner-section .banner-div .banner-root .banner-content .banner-content-inner h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .major-wrapper {
    overflow-y: hidden;
  }
  .container {
    width: auto !important;
  }
  .nav .nav__level0 > .nav__mainnav .container {
    width: 100% !important;
  }
  .nav .nav__level0 > .nav__mainnav .nav__secondary .nav-item.hidden-lg-down {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .nav .nav__level0 > .nav__mainnav .nav__secondary .nav-item {
    margin-left: 20px !important;
  }
  .header-div .main-navigation .container {
    width: auto !important;
    margin-left: calc(12px - 4px);
    margin-right: calc(12px - 4px);
    padding-left: 4px;
    padding-right: 4px;
  }
  .header-div .main-navigation .headernav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-div .main-navigation .headernav-menu .logo-div {
    width: 100%;
    padding: 25px 10px 0px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100%;
  }
  .header-div .main-navigation .headernav-menu .logo-div a.logo img.logo-img {
    height: 40px;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav {
    width: 100%;
    padding: 0;
    min-height: 100%;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary {
    top: 0px;
    left: -8px;
    width: calc( 100% + 16px);
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-item {
    margin-left: 0;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__primary .nav-link {
    height: auto;
    padding: 0px 0px;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item {
    padding: 0px 0px 0px 0px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__subnav .nav-section .nav-items .nav-item .nav-link {
    border: none;
  }
  .header-div .main-navigation .headernav-menu .nav__mainnav .nav__secondary {
    padding-top: 0;
    padding: 0px 0 0 0px;
  }
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary .nav-item {
    padding-right: 30px;
  }
  .main-middle-area {
    margin: 180px 0 0 0;
  }
  /* inner html */
  .btn.btn-custom1 {
    min-width: 140px;
    min-height: 40px;
    padding: 9px 12px 6px 12px;
    font-size: 16px;
  }
  .banner-section .banner-div .banner-root .banner-content .banner-content-inner {
    padding: 60px 40px 40px 40px;
  }
  .banner-section .banner-div .banner-root .banner-content .banner-content-inner h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .banner-section .banner-div .banner-root .banner-content .banner-content-inner h3 {
    font-size: 24px;
    line-height: 32px;
  }
  /* end of inner html */
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .container {
    width: 976px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}
/*# sourceMappingURL=style.css.map */