@charset "utf-8";
@import url(fonts.css);
@import url(animate.min.css);

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.5);

$navi-blue-color: #001155;
$blue-color:#1781E3;

$sub-color1: #333333;
$sub-color2: #666666;
$sub-color3: #cfd5d9;

$bg-light-green: #eef3f6;

$bg-light-color1:#F5F5F5;
$bg-light-color2:#DDE3E7;
$bodrer-color1:#D6D6D6;

$btn-bgcolor1:#5944C6;
$btn-bgcolor2:#E61E64;
$btn-bgcolor3:#1781E3;
$btn-bgcolor4:#0EABA9;
$btn-bgcolor5:#11AAFF;

/* Navigation Menu */

.container {width: 1336px !important;}

body{ font-family: 'TheSans'; }
.img-responsive{ width: 100%; }

.btn.btn-custom1 { 
    min-width: 160px; min-height: 48px; border-radius: 5px; background-color: $sub-color3; padding: 12px 12px 10px 12px; font-size: 18px; font-weight: 400; letter-spacing: -0.1px; text-align: center; color: $sub-color1; display: inline-block;  transition: 0.8s;
    &:hover, &:focus{
        border-color: transparent; background-color: $white-color;
    }
}


/*

.nav{
    position: fixed; width: 100%; top:0;
    .logo {
        .logo_icon { height: 40px; }
        .logo_img{ width: 70px; }
        .logo-lifeform {background-image: none;background-size: 40px; }
        .logo-type{ display: flex;align-items: center;padding: 0 0 0 8px; }
    }
    .nav__level1 {
        .nav__mainnav
        {
            .nav__primary .nav-item { 
                padding-right: 70px; margin: 0;
                .nav-link{ color:$nav-color; }
                .nav-link{ 
                    &:hover{  
                        color: $blue-color;
                        .text-underline::before{ background-color:$blue-color; top:31px;}
                        
                    }
                 }
                .nav-link--active{ 
                    color: $blue-color;
                    .text-underline::before{ background-color:$blue-color; top:31px;}
                 }
             }

        }
    } 
}

*/

/* Navigation Responsive */

.header-div{ 
    padding: 0; margin: 0; 
    
    /* start top header */

    .nav .nav__level0>.nav__mainnav {
        height: auto; padding: 10px 10px 8px 10px; display: flex;
        .nav__secondary{ 
            padding-top: 0px;
            .nav-link{
                font-size: 18px; font-weight: 400; line-height: 1.33; letter-spacing: -0.1px; color: $sub-color1; 
                &:hover, &:focus{
                    color: $sub-color2;
                }
            }
            .nav-item { margin-left: 60px; }
            
        }
    }
    .nav .nav__level1 .nav__mainnav .nav__level0-mobile .nav__secondary .nav-link { 
        font-size: 18px; font-weight: 400; line-height: 1.33; letter-spacing: -0.1px; color: $sub-color1; 
        &:hover, &:focus{
            color: $sub-color2;
        }
    }
    .nav .nav__level1 .nav-section { margin: 0px 0 0px 0; }



    .search__input { .search__input-wrapper { width: 100%; height: 92px;  } }
    .search--desktop .search__input.is-open { max-height: 92px; }

    /* End of start top header */

    /* main nav */

    .main-navigation{
        height: auto;

        .headernav-menu {
            display: flex; align-items: center;
            .logo-div { width: 25%; display: flex; align-items: center; min-height: 92px; padding: 18px 10px 18px 0; margin: 0; 
                a.logo{
                    padding: 0; margin: 0;
                    span.logo-type{  height: auto; padding: 0; margin: 0; top: auto; display: flex; }
                    img.logo-img { height: 50px; object-fit: contain; object-position: left; }
                }
            }

            .nav__mainnav{
                width: 75%; display: flex; align-items: center; justify-content: flex-end; min-height: 92px; padding: 18px 0px 18px 10px; margin: 0;
                .nav__subnav{  top: 62px; min-width: 215px; margin: 0;
                    .container{ max-width: 100%; padding: 0; margin: 0; }
                    .nav-section{ display: flex; padding: 0;
                        .nav-col{ padding: 0; }
                        .nav-items{ margin-top: 0px; margin: 10px 0 10px 0;
                            .nav-item{
                                padding: 0px 0px 0px 0px; margin: 0;
                                .nav-link{ padding: 8px 15px 8px 15px; margin: 0; font-size: 21px;     line-height: 28px;       width: 100%; display: block;
                                    &:hover, &:focus{ 
                                        background-color: #fff; 
                                        .nav-link{ color: $blue-color; }
                                    }
                                }
                            }
                        }
                    }
                }
                .nav__primary{  padding-top: 0; 
                    
                    .nav-link { 
                        line-height: 32px; letter-spacing: 0; text-decoration: none; white-space: nowrap; font-size: 24px; font-weight: 400; color: $navi-blue-color;     white-space: normal;
                        &:hover, &:focus{
                            color: $blue-color;
                        }
                    }
                    .nav-link.nav-link--active{ 
                        color: $blue-color; 
                        .text-underline::before{ background-color: $blue-color;  }
                    }
                    .nav-link.nav-link--header.is-active{ 
                        color: $blue-color; 
                        .text-underline::before{ background-color: $blue-color;  }
                    }

                    .nav-item{  margin-right: 0px; margin-left: 40px;     position: relative; }
                }
                .nav__secondary{  padding-top: 0; padding: 0 0 0 90px; 
                    .nav-icon.nav-search{
                        .icon--flip-horizontal { transform: rotate(0deg); }
                    }
                }
            }

        }

    }
    
    /* End of main nav */

}

.main-middle-area{ padding: 0; margin: 0; position: relative; }

.banner-section{
    padding: 0; margin: 30px 0 0 0; position: relative;
    .banner-div{ 
        padding: 0; margin: 0;
        .banner-root{
            padding: 0; margin: 0;     display: flex;     position: relative;
            .img-thumb{
                .banner-img {   width: 100%; min-height: 420px; z-index: 2; object-fit: cover; object-position: center; position: absolute; }
            }
            .banner-content { 
                position: relative; top: 0; z-index: 3; width: 435px; display: flex; height: 100%; opacity: 0.9; background-color: #5944c6; flex-direction: column; min-height: 420px; margin-left: 275px; 
                .banner-content-inner{ 
                    padding: 40px 40px; margin: 0;
                    .icons-div{ padding: 0; margin: 0 0 15px 0;  
                        img.img-icon{ width: 42px; }
                    }
                    h2 { padding: 0; margin: 0 0 15px 0; font-size: 40px; font-weight: 300; line-height: 52px; letter-spacing: -1.2px; color: $white-color; }
                    h3 { padding: 0; margin: 0 0 25px 0; font-size: 32px; font-weight: 300; line-height: 42px; letter-spacing: -1.2px; color: $white-color; }
                    .button-row{
                        padding: 0; margin: 0 0 0px 0;  

                    }
                }
            }
        }
    }
}

.modern-workplace-section{
    padding: 0; margin: 0px 0 0 0; position: relative;
    .modern-workplace-div{ 
        padding: 0; margin: 0;
        .modern-workplace-content{
            padding: 40px 0; margin: 0;

            h1 { padding: 0; margin: 0 0 15px 0; font-size: 70px; font-weight: 300; letter-spacing: -1.75px; color: $navi-blue-color; line-height: 80px; text-align: center; }
            h3 {  padding: 0; margin: 0 0 15px 0; font-size: 32px; font-weight: 300; text-align: center; color: $blue-color; line-height: 40px; }

        }
    }
}

/* home page */


@media (min-width: 1025px) {
  
}


@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {

}

@media (min-width: 1450px) and (max-width: 1700px) {

}


@media (max-width: 767px)
{
    
    .major-wrapper{ overflow-y: hidden; }

    .container { width: auto !important; margin-left: calc(12px - 4px); margin-right: calc(12px - 4px); padding-left: 4px; padding-right: 4px; }
    
    .header-div {
    
        .main-navigation {
            .container { width: auto !important; margin-left: calc(12px - 4px); margin-right: calc(12px - 4px); padding-left: 4px; padding-right: 4px; }
           
            .headernav-menu {
                .logo-div { width: 70%;
                    a.logo {
                        img.logo-img { height: 40px; }
                    }
                }
                .nav__mainnav {

                    width: 30%;
                    .nav__primary { top: 92px; left: -8px; width: calc( 100% + 16px );
                        .nav-item{ margin-left: 0; }
                        .nav-link{     height: auto; padding: 10px 12px; }
                    }

                    .nav__subnav {
                        .nav-section {
                            .nav-items {
                                .nav-item {
                                    padding: 0px 0px 0px 0px;
                                    margin: 0;
                                    display: flex;
                                    .nav-link { border: none; }
                                }
                            }
                        }
                    }
                    .nav__secondary {
                        padding-top: 0;
                        padding: 0px 0 0 0px;
                    }
                }
            }

        }
    }
    
    .main_div{ margin: 80px 0 0 0; }

    /* end of inner html */

    .btn.btn-custom1 { min-width: 140px; min-height: 40px; padding: 9px 12px 6px 12px; font-size: 16px; }

    .banner-section {
        .banner-div {
            .banner-root {
                flex-direction: column;
                .img-thumb {
                    .banner-img{
                        position: relative; min-height: auto;
                    }
                }
                .banner-content { position: relative; top: auto; height: 100%; min-height: 100%; margin-left: 0; width: 100%; 
                    .banner-content-inner{
                        padding: 30px 20px;
                        h2{ font-size: 32px; line-height: 42px; }
                        h3{ font-size: 24px; line-height: 32px; }
                    }
                }
            }
        }
    }
    

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    
    .major-wrapper{ overflow-y: hidden; }
    .container { width: auto !important; }


    .nav .nav__level0 > .nav__mainnav {
        .container{
            width: 100% !important;   
        }
        .nav__secondary {
            .nav-item.hidden-lg-down{ 
                display: flex !important; 
            }
            .nav-item{
                margin-left: 20px !important;
            }
        }
    }
  
    .header-div {
    
        .main-navigation {
            .container { width: auto !important; margin-left: calc(12px - 4px); margin-right: calc(12px - 4px); padding-left: 4px; padding-right: 4px; }
            .headernav-menu { flex-direction: column;
                .logo-div { width: 100%; padding: 25px 10px 0px 0; display: flex; justify-content: center;     min-height: 100%;
                    a.logo {
                        img.logo-img { height: 40px; }
                    }
                }
                .nav__mainnav {
                    width: 100%; padding: 0;     min-height: 100%;
                    .nav__primary { top: 0px; left: -8px; width: calc( 100% + 16px );
                        .nav-item{ margin-left: 0; }
                        .nav-link{     height: auto; padding: 0px 0px; }
                    }

                    .nav__subnav {
                        .nav-section {
                            .nav-items {
                                .nav-item {
                                    padding: 0px 0px 0px 0px;
                                    margin: 0;
                                    display: flex;
                                    .nav-link { border: none; }
                                }
                            }
                        }
                    }
                    .nav__secondary {
                        padding-top: 0;
                        padding: 0px 0 0 0px;
                    }
                }
            }

        }
    }
    
    .nav {
        position: fixed;top: 0;width: 100%;
        
        .nav__level1 {
            .nav__mainnav {
                .nav__primary .nav-item {
                    padding-right: 30px;
                }
            }
        } 
  
    }

    .main-middle-area{ margin: 180px 0 0 0; }

    /* inner html */    
   
    .btn.btn-custom1 { min-width: 140px; min-height: 40px; padding: 9px 12px 6px 12px; font-size: 16px; }

    .banner-section {
        .banner-div {
            .banner-root {
                .banner-content { 
                    .banner-content-inner{
                        padding: 60px 40px 40px 40px;
                        h2{ font-size: 32px; line-height: 42px; }
                        h3{ font-size: 24px; line-height: 32px; }
                    }
                }
            }
        }
    }
   
    /* end of inner html */

}



@media only screen and (min-width: 1024px) and (max-width:1366px) {
    
    .container{  width: 976px !important; }


}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {

}

@media (min-width: 1450px) and (max-width: 1700px) {

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {


}

@media only screen and (min-width: 375px) and (max-width:812px) {

}
@media only screen and (min-width: 320px) and (max-width:568px) {

}
@media only screen and (min-width: 320px) and (max-width:480px) {

}
